.page-header {
    padding-bottom: 9px;
    margin: 20px 0 0;
    border-bottom: 1px solid #eee;
}

.page-header div:first-child {
    padding-left: 10%;
}

.page-header div i {
    color: #6bc502;
}

.page-header div {
    display: inline;
}

.page-header div:nth-child(3) {
    padding-right: 10%;
}

/* Style the list */
ul.breadcrumby {
    padding: 10px 10% 10px 10%;
    list-style: none;
    background-color: #FFFFFF;
    margin-bottom: 0;
}

/* Display list items side by side */
ul.breadcrumby li {
    display: inline;
    font-size: 10px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumby li+li:before {
    padding: 8px;
    color: #AAAAAA;
    content: "\003e";
}

/* Add a color to all links inside the list */
ul.breadcrumby li a {
    color: #6bc502;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumby li a:hover {
    color: #6F993C;
    text-decoration: underline;
}

div.jumbotron > div.row {
    margin-left: 12%;
    margin-right: 10%;
}

div.jumbotron p {
    font-size: 10px;
    margin-bottom: 0;
}

div.jumbotron div.col-xs-6 {
    padding: 0 5px 0 5px;
}
div.jumbotron div.col-xs-4 {
    padding: 0 5px 0 5px;
}

div.jumbotron div.col-xs-8 p strong {
    font-size: 12px;
}

div.jumbotron div.col-xs-8 p:first-child {
    padding-top: 5px; 
}

.be-green {
    color: #6bc502;
}

.be-gray {
    color: #9b9b9b;
}

table thead {
    background-color: #6bc502;
}

div.help-link {
    padding-left:100px;
}