input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
input.ng-dirty.ng-valid { border: 2px solid #6bc502 }

input[type="radio"] {
    margin: 10px 20px 0 20px;
}

input[type="checkbox"] {
    margin: 10px 15px 0 15px;
}

div.col-xs-6 button {
    margin-top: 20px;
}